@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job

<h3>Are you sure you want this job?</h3>

<button class="btn confirm-claim-job" value="@Model.JobId">Claim</button>

<p>@Html.ActionLink("Back to list", "Index")</p>
