@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job

<h3>Are you sure you want this job?</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <input type="submit" value="Claim This Job" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
